<nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid">
        <button type="button" class="navbar-toggler" (click)="drawer.toggle()">
            <span class="navbar-toggler-icon"></span> |
            <label>Book Store</label>
        </button>
    </div>
</nav>
<mat-drawer-container class="container-fluid" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <h2>Menu</h2>
        <div class="form-group p-2">
            <a [routerLink]="['/authors']" class="btn btn-primary-secondary w-50 p-2"
                (click)="drawer.toggle()">Authors</a>
        </div>
        <div class=" form-group p-2">
            <a [routerLink]="['/books']" class="btn btn-primary-secondary w-50 p-2" (click)="drawer.toggle()">Books</a>
        </div>
    </mat-drawer>
    <router-outlet></router-outlet>
</mat-drawer-container>

<!-- <router-outlet></router-outlet> -->
